<!-- Gatekeeper Page -->

<div class="container-fluid">
	<div class="row">
		<h1>
			Identity
		</h1>
	</div>
	<div style="clear:both;"></div>

<!-- Add Package/ Visitor/ Search -->

	<div class="row">
		<a href="#" role="button" class="btn btn-success btn-large gatekeeper">Recieve Package </a>
		<a href="#" role="button" class="btn btn-success btn-large gatekeeper">Add Package</a>
		<div class="input-append gatekeeper">
		  <input class="span3" style="height:34px;" id="appendedInputButtons" type="text" placeholder="Unit or Resident">
		  <button class="btn btn-large" type="button">Search</button>
	  	</div>
	</div>
	<div style="clear:both;"></div>

<!-- Visitor Table -->

	<div class="row" style="margin-top:40px;">
		<h3>Visitors</h3>
		<table class="table table-bordered table-striped">
			<tr>
				<th>Unit</th>
				<th>Resident</th>
				<th>Guest</th>
				<th>Arrived?</th>
				<th>Add Comment</th>
			</tr>
			<tr>
				<td><a href="#">312</a></td>
				<td><a href="#">John Smith</a></td>
				<td>Bryan G</td>
				<td><label class="checkbox">
				     <input type="checkbox">
				     </label></td>
				<td>Comment</td>
			</tr>
			<tr>
				<td><a href="#">516</a></td>
				<td><a href="#">Bryan Williams</a></td>
				<td>Craig R</td>
				<td><label class="checkbox">
				     <input type="checkbox">
				     </label></td>
				<td>Comment</td>
			</tr>
		</table>
	</div>
	<div style="clear:both;"></div>

<!-- Package Table -->

	<div class="row" style="margin-top:40px;">
		<h3>Packages</h3>
		<table class="table table-bordered table-striped">
			<tr>
				<th>Unit</th>
				<th>Resident</th>
				<th>Type</th>
				<th>Pickup?</th>
				<th>Date Logged</th>
			</tr>
			<tr>
				<td><a href="#">312</a></td>
				<td><a href="#">John Smith</a></td>
				<td>Bryan G</td>
				<td><label class="checkbox">
				     <input type="checkbox">
				     </label></td>
				<td>5/13/13</td>
			</tr>
			<tr>
				<td><a href="#">516</a></td>
				<td><a href="#">Bryan Williams</a></td>
				<td>Craig R</td>
				<td><label class="checkbox">
				     <input type="checkbox">
				     </label></td>
				<td>5/15/13</td>
			</tr>
		</table>
	</div>
	<div style="clear:both;"></div>
</div>