<p id="notice"><%= notice %></p>

<p>
  <b>Permanent guest name:</b>
  <%= @permanent_guest.permanent_guest_name %>
</p>


<%= link_to 'Edit', edit_permanent_guest_path(@permanent_guest) %> |
<%= link_to 'Back', permanent_guests_path %>
