<h1>Choose an Account</h1>

<% @myidents.each do |ident| %>
     <div class="fluid-row">
        <div class="span3">
            <div class="well inline">
              <h3 align ="center"><%= ident.name %></h3>
              <p align = "center"><i><%= ident.community.name %></i>	</p>
                <%# image_tag ident.community.image(:medium) %>
                    <p align="center"><%= link_to 'Switch Account', :controller => "idents", :action => "select", :id => ident %></p>
            </div>
        </div>
    </div>
<% end %>
</table>

<br />
<div style="clear:both;"></div>
<%= link_to 'New Ident', new_ident_path %>
